<div class="pt-4">
  <div class="col text-center">
    <!--<a target="_blank" href="/banner,75.html" title="Independent Metals" rel="nofollow">-->
      <!--<img src="../../assets/independent.png" alt="Independent Metals">-->
    <!--</a>-->
    <!--advert-->
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <!--nav-->
  </div>
  <div class="col-md-6 mx-auto">
    <app-cards-holder *ngFor='let in of [0];let i = index'>
    </app-cards-holder>

  </div>
  <div class="col-md-2">
    <!--<a target="_blank" href="https://www.walutomat.pl/landing/independenttrader/?ref=pl_pp_c1_independent_baner_b2c_pl_na_pl_na_50procent" title="Walutomat bok" rel="nofollow">-->
      <!--<img width="70%" src="../../assets/walut.jpg" alt="Walutomat bok">-->
    <!--</a>-->
    <!--advert-->
  </div>
</div>


