.btn-fb {
  color: #fff;
  //background-color: #3b5998 !important;
  //background-color: #9e9e9e  !important;
  background: linear-gradient(40deg, #767676, rgba(116, 116, 116, 0.6));
}

.btn-gplus {
  color: #fff;
  //background-color: #dd4b39 !important;
  //background-color: #9e9e9e !important;
  background: linear-gradient(40deg, #767676, rgba(116, 116, 116, 0.6));
}

.btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  width: 47px;
  height: 47px;
}

.btn-floating.btn-lg {
  width: 41.1px;
  height: 41.1px;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-floating.btn-lg i {
  font-size: 1.225rem;
  line-height: 42.1px;
}

.btn-floating:before {
  border-radius: 0;
}

.btn-floating i {
  display: inline-block;
  width: inherit;
  color: #fff;
  text-align: center;
}

.fa, .fab, .fad, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
.submit-btn{
  background: linear-gradient(40deg, #767676, rgba(116, 116, 116, 0.6));
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
