<div class="pb-5"></div>
<div class="pb-5"></div>
<!--<div class="col-md-4 mx-auto pb-2">-->
  <!--<p class="text-center" style="font: 400 30px Montserrat,sans-serif; color: #9e9e9e;text-shadow: #ffffff 2px 2px 0;" >Scrap</p>-->
<!--</div>-->
<div class="card col-lg-3 mx-auto">
  <div class="card-body">
    <!--<div class="view view-cascade overlay" style="color: red"></div>-->
    <div class="md-form">
      <i class="fas fa-envelope prefix grey-text"></i>
      <input type="text" id="form-email" class="form-control" placeholder="Your email">
      <label for="form-email"></label>
    </div>
    <div class="md-form pb-4">
      <i class="fas fa-lock prefix grey-text"></i>
      <input type="password" id="form-password" class="form-control" placeholder="Your password">
      <label for="form-password"></label>
    </div>
    <div class="row pb-4">
      <div class="col">
        <div class="text-center">
          <button matRipple class="submit-btn mat-ripple btn btn-lg btn-block waves-effect white-text mx-auto rgba-yellow-light" routerLink="/content" routerLinkActive="active">
            Sign in
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center ml-1">
        <p style="font-size: small; font-family: Roboto, sans-serif" class="text-center font-small grey-text">or Sign in with:</p>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col text-center">
        <a href="#" matRipple class="btn-floating btn-lg btn-fb" type="button" role="button">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" matRipple class="btn-floating btn-lg btn-gplus" type="button" role="button" (click)="authViaGoogle()">
          <i class="fab fa-google-plus-g"></i>
        </a>
      </div>
    </div>
    <div class="modal-footer mx-1 pt-1 mb-1">
      <div class="col text-right">
        <a href="#" style="font-size: small; font-family: Roboto, sans-serif" class="blue-text">Forgot password?</a>
      </div>
    </div>
  </div>
</div>

