.sidenav-container {
  background-color: #eee;
  height: 100%;
}
.mat-toolbar {
  height: 50px;
}
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-button, .mat-icon-button, .mat-stroked-button{
  background: #1976d2;
}

.mat-toolbar.mat-primary {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  background: #fafafa;
  position: sticky;
  top: 0;
  z-index: 1;
}
