.card{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  margin-bottom: 25px;
}
.mdb-color{
  background: linear-gradient(40deg, #767676, rgba(116, 116, 116, 0.6));
}
.card:empty {
  background-image:
    linear-gradient(#ccc, #ccc),
    linear-gradient(#ccc, #ccc),
    linear-gradient(#f1f1f1, #f1f1f1);
  background-repeat: no-repeat;

}
