  <!--<div class="row card-with-img">-->
    <!--<div class="col-sm-4 mask rgba-white-slight waves-effect waves-light">-->
      <!--<img class="card-img-left" alt="tutaj obrazek" src="../../assets/pralka.jpg"/>-->
    <!--</div>-->
    <!--<div class="col-sm">-->
      <!--<h4 class="card-title">Zepsuta pralka</h4>-->
      <!--<div class="card-body"></div>-->
      <!--<hr>-->
      <!--<p></p>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="mdb-color text-center">-->
    <!--<ul class="list-unstyled list-inline font-small mt-3">-->
      <!--<li class="list-inline-item pr-2 white-text">data</li>-->
      <!--<li class="list-inline-item pr-2 white-text">tel</li>-->
      <!--<li class="list-inline-item pr-2 white-text">msg</li>-->
      <!--<li class="list-inline-item pr-2 white-text">view</li>-->
    <!--</ul>-->
  <!--</div>-->
<!--<div class="card">-->
  <!--<div class="view gradient-card-header blue-gradient">-->
    <!--<h4 class="text-center white-text h4-responsive">BTC Relative Unrealized Profit</h4>-->
  <!--</div>-->
  <!--<div class="card-body">-->
    <!--<zingchart-angular [config]="config" [series]="series"></zingchart-angular>-->
  <!--</div>-->
<!--</div>-->
<div class="card">
  <div class="view gradient-card-header blue-gradient">
    <h4 class="text-center white-text h4-responsive">BTC Relative Unrealized Profit</h4>
  </div>
  <div class="card-body">
    <div id="chartBTC"></div>
  </div>
</div>
<div class="card">
  <div class="view gradient-card-header blue-gradient">
    <h4 class="text-center white-text h4-responsive">BTC Net Unrealized Profit/Loss</h4>
  </div>
  <div class="card-body">
    <div id="chartNET"></div>
  </div>
</div>
